.reservation-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    max-width: 600px;
    width: 100%;
    padding: 1.5rem;
}

.form-header {
    margin-bottom: 1.5rem;
}

.reservation-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.form-buttons {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
}

.form-buttons button {
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.2s;
}

.save-btn {
    width: 100px;
    padding: 4px 10px;
    background: #2c3e50;
    color: white;
}

.save-btn:hover {
    background: #2c3e50ce;
}

.save-btn:disabled {
    background: #3333331a;
}

.cancel-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    padding: 0.1rem 0.3rem;
    border-radius: 4px;
    color: #333333;
}

.cancel-btn a {
    color: inherit;
}

.cancel-btn:hover {
    color: #333333ce;
}